html { font-size: 16px; }

.hidden { display: none !important; }

input {
  box-sizing: border-box;
  height: 26px;
  padding-left: 2px;
}
div {
  display: table;
  margin: 2px;
  padding: 6px;
  border: 0;
}
.subject {
  margin-left: 0rem;
  margin-top: 1rem;
  background: #AFF;
}
.predicate {
  margin-left: 4rem;
  background: #FAA;
}
.object {
  margin-left: 8rem;
  background: #AFA;
}
.object input { width: 500px; }
.type {
  margin-left: 12rem;
  background: #FFA;
}
.lang {
  margin-left: 12rem;
  background: #FAF;
}

div span { float: left; }
div span.hidden { display: none; }
div span:not(.hidden) + input { display: none; }
div span:not(.hidden):after {
  display: block;
  margin-left: .5em;
  float: right;
  font-family: FontAwesome;
  content: '\f040';
  cursor: pointer;
}

.autocomplete-results .list {
  margin: 0;
  padding: 0;
}
.autocomplete-results .item {
  font-size: 85%;
  padding: .5em 1.5em;
}
