@font-face {
  font-family: "Courier Prime";
  src: url("../fonts/Courier Prime.ttf");
}

input[type="text"] {
  display: block;
  font-family: "Courier Prime";
  font-size: 16px;
}
input.node,
div.empty {
  box-sizing: border-box;
  height: 24px;
  padding: 2px;
/*  border: 1px solid #aaa;*/
}
